@font-face {
    font-family: Norse-Bold;
    src: url(font/Norse-Bold.otf);
}
:root {
    --motion-speed: 0.2s;
    --gap: 10px;
}

* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 1px solid skyblue; */
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}



/*-----------HEADER-----------*/
img {
    width: 13%;
    height: 13%;
}
header {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 80px;
    gap: 10px;
    font-family: 'Norse-Bold';
}
h1 {
    font-family: 'Norse-Bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}



/*-----------FORM-----------*/
form {
    max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #CCD0D5;
    border-radius: 10px;
    padding: 25px 0px;
    gap: var(--gap);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
input[class="charField"] {
    background-color: #F5F6F7;
    border: 1px solid #CCD0D5;
    width: 240px;
    height: 45px;
}
input[type="email"], .emailInput {
    width: 490px;
}


input[type="radio"] {
    background-color: gray;
}

.dateInput {
    padding: 10px 45px;
    border: 1px solid #CCD0D5;
    background-color: white;
}



/*GAP BETWEEN TWO INLINE FIELDS*/
.nameInput, .passwordInput {
    display: flex;
    gap: var(--gap);
}

.genderInput {
    display: column;
}
.genderButton {
    display: flex;
    align-items: center;
    padding: 8px 35px;
    border: 1px solid #CCD0D5;
}
.genderButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


/*-----------BUTTONS-----------*/

button {
    border: none;
    border-radius: 5px;
    padding: 12px 30px;
    margin-top: 60px;

    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #00b600;
    transition: var(--motion-speed);
}
button:hover {
    background-color: rgb(6, 143, 51);
    transition: var(--motion-speed);
}


label {
    font-size: 0.7em;
    display: flex;
}
p {
    margin-top: 0px;
    font-size: 0.7em;
}