@font-face {
    font-family: Norse-Bold;
    src: url(font/Norse-Bold.otf);
}
:root {
    --motion-speed: 0.3s;
    --gap: 10px;
}
* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*-----------HEADER-----------*/
header {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 0px 10px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: #f7f7f7;
}
img {
    width: 70px;
    height: 70px;
    -webkit-filter: drop-shadow(0px 4px 5px rgb(0, 0, 0, 0.25));
    transition: var(--motion-speed);
}
img:hover {
    width: 75px;
    height: 75px;
    -webkit-filter: drop-shadow( 0px 3px 5px rgb(0, 0, 0, 0.15));
    transition: var(--motion-speed);
}
h1 {
    font-family: 'Norse-Bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-shadow: 0px 3px 6px rgb(0, 0, 0, 0.3);
}

#additionalText {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: rgb(150, 150, 150);
}



/*-----------FORM-----------*/
form {
    width: 530px;
    height: auto;
    padding: 0px 0px 10px 0px;
    border: 1px solid #CCD0D5;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#inputAreaContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
#userInputDiv, #userSelectionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--gap);
}
#nameInput, #passwordInput {
    display: flex;
    gap: var(--gap);
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 240px;
    height: 45px;
    border: 1px solid #CCD0D5;
    text-indent: 4%;
    background-color: #F5F6F7;
}
input[type="email"] {
    text-indent: 2%;
    width: 490px;
}
.additionalInfo {
    color: gray;
}



/*-----BIRTH DATE INPUT*/
#birthDateDiv {
    width: 490px;
    height: 59px;
    display: flex;
    flex-direction: column;
}
.dateInputContainer {
    display: flex;
    height: 100%;
    gap: var(--gap);
}
.dateOfBirth {
    width: 100%;
    height: 100%;
    font-size: 17px;
    text-indent: 4%;
    border: 1px solid #CCD0D5;
    background-color: white;
}



/*-----------GENDER BUTTONS-----------*/
input[type="radio"] {
    display: none;
}
.genderButtonsContainer {
    display: flex;
    gap: var(--gap);
}
.genderButtonsContainer label {
    display: flex;
    align-items: center;
    gap: 59px;
    position: relative;
    padding: 12px 14px;
    font-size: 17px;
    border: 1px solid #CCD0D5;
}
.genderButtonsContainer label:after {
    width: 12px;
    height: 12px;
    content: "";
    border: 1px solid black;
    border-radius: 100%;
}

input[type="radio"]:checked + label:after {
    border: 1px solid #e3b261;
    background-color: #e3b261;
    color: #a78347;
    transition: 0.1s;
}



/*-----------SUBMIT BUTTON-----------*/
#submitButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

label {
    font-size: 14px;
    display: flex;
}
button {
    padding: 10px 28px;
    margin-top: 20px;
    border: none;
    border-radius: 7px;
    font-size: 21px;
    font-weight: bold;
    color: white;
    background-color: #e3b261;
    transition: var(--motion-speed);
}
button:hover {
    background-color: #a78347;
    transition: var(--motion-speed);
}
p {
    font-size: 15px;
}
a {
    text-decoration: none;
    color: #e3b261;
}
a:visited {
    color: #a78347;
}